@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}


/* Swiper Navigation Arrows */
.timeline-swiper .swiper-button-prev,
.timeline-swiper .swiper-button-next {
    top: 8px;
    transform: translateY(0);
    color: #dc2626;
    /* red */
}

.timeline-swiper .swiper-button-prev::after,
.timeline-swiper .swiper-button-next::after {
    font-size: 28px;
    font-weight: bold;
}


.industry-dots .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #d1d5db;
    opacity: 1;
}

.industry-dots .swiper-pagination-bullet-active {
    background: #000;
}



/* Move swiper dots below slider */
.swiper-pagination {
    position: relative !important;
    margin-top: 16px;
}

.swiper-pagination-bullet {
    background: #dc2626;
    /* red-600 */
    opacity: 0.4;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #dc2626;

}



/* Scrollbar Hide */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}


/* Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* Chrome, Edge, Safari */
.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.blog-container {
    max-width: 850px;
    margin: 40px auto;
    padding: 0 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont;
}

.blog-header {
    text-align: center;
    margin-bottom: 30px;
}

.blog-category {
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    color: #777;
}

.blog-title {
    font-size: 36px;
    font-weight: 700;
    margin: 12px 0;
}

.blog-meta {
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.blog-image img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
    margin: 30px 0;
}

.blog-content {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
}

.blog-content b {
    font-size: 18px;
}

.blog-content ul {
    padding-left: 20px;
}

.blog-content img {
    max-width: 100%;
    border-radius: 10px;
    margin: 20px 0;
}